.post-container {
  p {
    text-align: left;
    text-align-last: left;
    &.read-time {
      text-align: right;
      justify-self: right;
    }
  }
  blockquote {
    p {
      text-align: center;
      text-align-last: center;
    }
    &:nth-of-type(2n) {
      border-right: 0;
    }
    &:nth-of-type(1n) {
      border-left: 0;
    }
  }

  .header-logo-wrapper {
    margin-bottom: 0;
    padding: 0 20px;

    &.full-width-row {
      height: auto;
    }
  }

  .post-header {
    .header-post {
      // border-radius: 7px 7px 0 0;
      background-color: $primary__colorOne;
      min-height: 270px;
      width: 100%;

      margin: 0 auto;
      .post {
        padding: 0 10px;
      }
    }
    h1 {
      border-bottom: none;
      font-size: 1.375rem;
      font-size: max(1.375rem, min(3.25vw, 2.25rem));
      line-height: 1.3;
      margin-bottom: 0.9rem;
      padding-bottom: 0.6rem;
      position: relative;
      color: $black;

      // color: #fff;
      // font-size: 36px;
      // font-weight: 500;
      // line-height: 40px;
      // @media (max-width: 420px) {
      //   font-size: 26px;
      // }
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: $main__font;
    }
    .post {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  .main-post {
    margin: 0 auto 20px;
    padding-bottom: 30px;
    background: $background_white;
    position: relative;
    max-width: $page__size;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    @media (min-width: $media960) {
      max-width: $ext_page__size;
      display: grid;
      grid-template-columns: 0.18fr 1fr 0.2fr !important;
      &.promoVisit {
        display: flex;
        grid-template-columns: unset;
        min-height: 375px;
      }
    }
    .container {
      width: 96%;
      margin: 0 auto;
      padding-top: 10px;
      @media (min-width: $media960) {
        max-width: 520px;
        width: 100% !important;
      }
      @media (max-width: $media960) {
        display: flex;
        flex-direction: column;
      }
      h1 {
        max-width: $page__size;
        margin: 10px auto 10px;
        display: block;
        color: $black;
        text-align: left;
        font-size: 32px;
        line-height: 42px;
      }
    }
    .close-btn-single-post {
      position: absolute;
      top: -240px;
      right: -20px;
      width: 30px;
      height: 30px;
      font-size: 16px;
      font-family: $main__font;
      background-color: #fff;
      border: 2px solid $primary__colorTwo;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 800;
      span {
        display: none;
      }
      color: $primary__colorTwo;
      a {
        color: $primary__colorTwo;
        padding: 5px 10px;
        &:hover {
          color: $primary__colorTwo;
        }
      }
      &:hover {
        background-color: $primary__colorTwo;
        span {
          color: $primary__colorTwo;
          font-size: 12px;
          line-height: 22px;
          position: absolute;
          text-align: center;
          top: 45px;
          left: -33px;
          width: 100px;
          height: 20px;
          border-radius: 5px;
          display: block;
          z-index: 10;
          background-color: $primary__colorTwo;
          border: 2px solid $primary__colorTwo;
          font-family: $main__font;
        }
      }
    }

    .left-column {
      width: 220px;
    }
    .right-column {
      width: 300px;
      h2 {
        font-size: 20px;
      }
      .ads-right-column {
        width: 300px;
        height: 300px;
        display: block;
        &.sticky {
          position: sticky;
        }
        top: 20px;
        margin-bottom: 50px;
        &.second {
          top: 50px;
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-highlights {
    &.ads-bottom-row {
      text-align: center;
      max-width: $page__size;
      height: 90px;
    }
    margin-bottom: 20px;
    h2 {
      font-size: 20px;
    }
  }
}
[data-theme="dark"] .close-btn-single-post span,
[data-theme="dark"] .close-btn-single-post a:hover {
  color: #fff !important;
}
.post-categories-wrapper {
  line-height: 15px;
  border: 1px solid $primary__colorTwo;
  p {
    border-right: 1px solid $primary__colorTwo;
    font-family: $main__font;
    padding: 6px 10px 2px;
    color: $primary__colorTwo;
    line-height: 15px;
    display: inline-block;
  }
  .post-categories {
    display: inline-block;
    font-size: 14px;
    font-family: $main__font;
    padding: 4px;
    color: $primary__colorTwo;
    font-weight: 600;
    text-transform: lowercase;
    white-space: nowrap;
    margin: 0 5px;

    &:nth-child(even) {
      color: $primary__colorTwo;
    }
    &:hover {
      background-color: $primary__colorTwo;
      color: black;
    }
  }
}
.post-author {
  margin-bottom: 20px;
  .post-author-infos {
    .full-width-row-child {
      max-width: $page__size;
      margin: auto;
      width: 95%;
    }
    .profile-image {
      border-radius: 25px;
    }
    @media (max-width: 420px) {
      grid-template-columns: repeat(1, 1fr) !important;
      .editorial-infos {
        margin-top: 15px;
      }
    }
  }
  .editorial-infos {
    display: none;
    align-self: center;
    &.full-width-row-child {
      max-width: 300px;
      margin: 0 0 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      p {
        color: $primary__colorTwo;
        font-family: $main__font;
        font-size: 18px;
        font-variant-caps: petite-caps;
      }
    }
  }
  .inner-post-author-infos {
    display: grid;
    grid-template-columns: 0.13fr 1fr;
    align-items: center;
    // margin: auto;
    // width: 98%;
    @media (max-width: 590px) {
      grid-template-columns: 0.27fr 1fr;
    }
    @media (max-width: 420px) {
      grid-template-columns: 0.6fr 1fr;
    }
  }

  .author-img {
    border: 2px solid $primary__colorTwo;
    background: $primary__colorTwo;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 74px;
    height: 74px;
  }
}
.post-ads-ul {
  width: 100%;
  max-width: $page__size;
  display: flex;
  flex-direction: column;
  margin: 15px auto 20px;
  p {
    margin-bottom: 10px;
    small {
      font-size: 14px !important;
    }
  }
  li {
    margin: 0px 0 15px;
    background-color: $mix_black_05;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    &:hover {
      background-color: $cta__color;
      a {
        border-bottom: 2px solid white;
      }
    }
    a {
      width: 100%;
      border-bottom: 2px solid transparent;
      margin-right: 10px;
      margin-left: 10px;

      color: white !important;
      font-weight: 600;
      font-size: 18px;
    }
  }
  &.promoVisit {
    li {
      background-color: $cta__second_color;
    }
  }
}
.main-post {
  .post-highlight-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    height: auto;
  }
  .container {
    .post-article-content {
      width: 95%;
      font-size: 19px;
      line-height: 28px;
      font-weight: 300;
      color: $black;
      max-width: $page__size;
      margin: 0 auto;
      @media (min-width: $media960) {
        width: 100%;
      }
      sup {
        margin-right: 0;
        margin-left: 7px;
      }
      p {
        font-family: $main__font;
        font-size: 19px;
        font-weight: 300;
        color: $black;
        margin-bottom: 16px;
      }
      a {
        color: $black;
        text-decoration: none;
        overflow-wrap: break-word;
        font-weight: 500;
      }
      strong {
        font-weight: 600;
      }
      em {
        font-style: italic;
      }
      ul.toc-list li,
      ul li {
        font-style: italic;
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 5px;
      }

      ol li {
        list-style-type: decimal;
        font-style: italic;
        margin-left: 20px;
        padding-bottom: 5px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 35px 0;
        font-family: $main__font;
        text-transform: capitalize;
        font-weight: 600;
        color: $black;
        & strong {
          font-weight: 900;
        }
      }
      h2 {
        font-size: 24px;
        line-height: 34px;
        font-weight: 800;
        &::before {
          content: "";
          display: block;
          width: 1px;
          position: relative;
          height: 75px;
          margin-top: -75px;
          visibility: hidden;
        }
      }
      h3 {
        font-size: 26px;
      }
      h4 {
        font-size: 20px;
      }
      h5 {
        font-size: 18px;
      }
      h6 {
        font-size: 16px;
      }
      iframe {
        max-width: 100%;
      }
      > blockquote {
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0;
        padding: 10px 15px;
        font-family: $main__font;
        p {
          margin-bottom: 0;
        }
        &:nth-of-type(odd) {
          border-right: 3px solid $primary__colorTwo;
          margin-left: auto;
          text-align: right;
          margin-right: 15px;
        }
        &:nth-of-type(even) {
          border-left: 3px solid $primary__colorTwo;
          text-align: left;
          margin-left: 15px;
        }
        > blockquote {
          border: 0;
        }
      }
      blockquote ~ h1,
      blockquote ~ h2,
      blockquote ~ h3,
      blockquote ~ h4,
      blockquote ~ h5,
      blockquote ~ h6,
      blockquote ~ ul,
      blockquote ~ div {
        clear: both;
      }
    }
    .post-author-date {
      font-weight: 300;
      font-size: 14px;
      color: $black;
    }
    .post-author-name {
      color: $black;
      font-weight: 500;
      font-size: 23px;
      font-family: $main__font;
      margin: 0;
      line-height: 23px;
    }
  }
}
